.jumbotron{
    
    background-image: url(img/tes.jpg);
    
}

#deskripsi{
    background-color:  rgb(211, 211, 211);
     padding-top: 20px; 
}

body{
    background-color: rgb(255, 220, 232);
   

}

   
